.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: rgb(255,177,1);
    background-color: rgb(1,101,49);
}

.btn-primary{
    background-color: rgb(255,177,1);
    border: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

@media only screen and (max-width: 600px) {
    img{
        max-width: 50%;
    }
    
 }