<div class="container">
    <div class="row">
        <div class="col-sm-4 logo">
            <img src="../../assets/sassa.png" width="100%">
        </div>
        <div class="col-sm-8">
            <div class="card">
            <div class="card-body">
                <form *ngIf="stage === 'id'">
                    <h3>Welcome!</h3>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group ">
                                <input #idNumber type="text" class="form-control" placeholder="Enter ID number">
                                <label *ngIf="showIdError" for="idNumber" style="color: red;">Please enter a valid ID number</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary" (click)="submitId(idNumber.value)">Next</button>
                        </div>
                    </div>
                </form>
                <form *ngIf="stage === 'contact'">
                    <h3>Contact Number</h3>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group ">
                                <input #contact type="text" class="form-control" placeholder="Enter Contact">
                                <label *ngIf="showIdError" for="contact" style="color: red;">Please enter a valid contact number</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary" (click)="submitContact(contact.value)">Next</button>
                        </div>
                    </div>
                </form>
                <form *ngIf="stage === 'OTP'">
                    <h3>Please enter OTP</h3>
                    <div class="row">
                        <div class="col-8">
                            <div class="form-group ">
                                <input #otp type="text" class="form-control" placeholder="Enter OTP">
                                <label *ngIf="showOTPError" for="otp" style="color: red;">Your OTP is incorrect</label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary" (click)="submitOTP(otp.value)">Verify</button>
                        </div>
                    </div>
                </form>
                <form *ngIf="stage === 'nameCheck'">
                    <h3>In order to verify your identity, please select your full name.</h3>
                    <div class="form-check">
                        <input #name1 class="form-check-input" type="radio">
                        <label class="form-check-label" for="name1">
                          Andries Bingani
                        </label>
                      </div>
                      <div class="form-check">
                        <input #name2 class="form-check-input" type="radio">
                        <label class="form-check-label" for="name1">
                          Richard Machabe
                        </label>
                      </div>
                      <div class="form-check">
                        <input #name3 class="form-check-input" type="radio">
                        <label class="form-check-label" for="name1">
                          Maanda Forka
                        </label>
                      </div>
                      <div class="form-check">
                        <input #name4 class="form-check-input" type="radio">
                        <label class="form-check-label" for="name1">
                          Armando Mavels
                        </label>
                      </div>
                      <div class="form-check">
                        <input #name5 class="form-check-input" type="radio">
                        <label class="form-check-label" for="name1">
                          Petros Sambo
                        </label>
                      </div>
                      <div class="row">
                        <div class="col-10">
                        </div>
                        <div class="col-2">
                          <button type="submit" class="btn btn-primary" (click)="submitName(name1.checked, name2.checked, name3.checked, name4.checked, name5.checked)">Next</button>
                        </div>
                      </div>
                </form>
                <form *ngIf="stage === 'bankCheck'">
                    <h3>Do you have an account with Capitec Bank?</h3>
                    <div class="form-check">
                        <input #bank1 class="form-check-input" type="radio">
                        <label class="form-check-label" for="bank1">
                          Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <input #bank2 class="form-check-input" type="radio">
                        <label class="form-check-label" for="bank2">
                          No
                        </label>
                      </div>
                      <div class="row">
                        <div class="col-10">
                        </div>
                        <div class="col-2">
                          <button type="submit" class="btn btn-primary" (click)="submitBank(bank1.checked, bank2.checked)">Next</button>
                        </div>
                      </div>
                </form>
                <form *ngIf="stage === 'primaryCheck'">
                    <h3>Which primary school did you go to?</h3>
                    <div class="form-check">
                        <input #primary1 class="form-check-input" type="radio">
                        <label class="form-check-label" for="primary1">
                          Thuto Lesedi Primary School
                        </label>
                      </div>
                      <div class="form-check">
                        <input #primary2 class="form-check-input" type="radio">
                        <label class="form-check-label" for="primary1">
                          Abinala Primary School
                        </label>
                      </div>
                      <div class="form-check">
                        <input #primary3 class="form-check-input" type="radio">
                        <label class="form-check-label" for="primary1">
                          Zimela Primary School
                        </label>
                      </div>
                      <div class="form-check">
                        <input #primary4 class="form-check-input" type="radio">
                        <label class="form-check-label" for="primary1">
                          Ukufika Middle School
                        </label>
                      </div>
                      <div class="form-check">
                        <input #primary5 class="form-check-input" type="radio">
                        <label class="form-check-label" for="primary1">
                          Petros Sambo Primary School
                        </label>
                      </div>
                      <div class="row">
                        <div class="col-10">
                        </div>
                        <div class="col-2">
                          <button type="submit" class="btn btn-primary" (click)="submitPrimary(primary1.checked, primary2.checked, primary3.checked, primary4.checked, primary5.checked)">Next</button>
                        </div>
                      </div>
                </form>
                <form *ngIf="stage === 'bankingDetails'">
                    <h3>Congratulations Maanda Forka!</h3>
                    <p>You were verified successfully. Your R350 will be sent to the number {{contact}} in the next 24 hours</p>
                    <!-- <div class="row">
                        <div class="col-6">
                            <div class="form-group ">
                                <input #name type="text" class="form-control" placeholder="Name">
                                <label *ngIf="showIdError" for="name" style="color: red;">Please enter a valid name</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group ">
                                <input #surname type="text" class="form-control" placeholder="Surname">
                                <label *ngIf="showIdError" for="surname" style="color: red;">Please enter a valid surname</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group ">
                                <input #contact type="text" class="form-control" placeholder="Contact">
                                <label *ngIf="showIdError" for="contact" style="color: red;">Please enter a valid contact</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group ">
                                <input #gender type="text" class="form-control" placeholder="gender">
                                <label *ngIf="showIdError" for="gender" style="color: red;">Please enter a valid gender</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group ">
                                <input #address type="text" class="form-control" placeholder="Address">
                                <label *ngIf="showIdError" for="address" style="color: red;">Please enter a valid address</label>
                            </div>
                        </div>
                        <div class="col-10">

                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary" (click)="submitDetails(name.value, surname.value, contact.value, gender.value, address.value)">Next</button>
                        </div> 
                        
                    </div> -->
                </form>
                <form *ngIf="stage === 'sorryBaba'">
                    <h3>Sorry Baba!</h3>
                    <p>You failed the process Ndada, no R350 for you mfethu.</p>
                </form>
            </div>
            </div>
        </div>
    </div>
</div>
